<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Dungeon</title>
    <script type="text/javascript" src="/js/jquery-3.1.0.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-git.js"></script>
    <script type="text/javascript" src="/js/jquery.infinitedrag.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script type="text/javascript" src="/js/grid.js"></script>
    <link rel="stylesheet" type="text/css" href="css/grid.css">
</head>
<body onload="init_dungeon('dungeon_map');">
    <div id="viewport">
        <div id="dungeon_map"></div>
    </div>
</body>
</html>